
* {
  box-sizing: border-box;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(42, 14, 107);
  overscroll-behavior: contain;
}

.overflow-hidden {
  overflow: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-none {
  display: none;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}



.wrapper {
  position: fixed;
  /* border: 1px solid yellow; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.map-cover {
  /* border: 1px solid blue; */
  width: 800px;
  height: 400px;

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAADtJREFUWEft10ERADAMArBW9CzPRndTQR/BAFx+dAUz504H+8sAAgQIECBAgAABAgQIECCwQ+CvSD7kB6O0a0FtUcGvAAAAAElFTkSuQmCC);
  background-repeat: repeat;
  image-rendering: pixelated;
}

.sprite-container {
  position: absolute;
  --c: 32px;
  width: var(--c);
  height: var(--c);
  z-index: 1;
}

.sprite  {
  border: 1px solid green;
  position: absolute;
  width: calc(var(--c) * 7);
  height: var(--c);
  background-size: calc(var(--c) * 7) var(--c); 
  background-repeat: no-repeat;
  image-rendering: pixelated;
  /* transform-origin: center bottom; */
}

.bear {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHAAAAAQCAYAAADOFPsRAAAAAXNSR0IArs4c6QAAAZpJREFUWEftV9kSwyAIrP//0elo1SLhkrQeM/YpTbLhWFwgvM5v6wwE4P0FruN9+D8+wvcgNj7fHY+J7I1/Cr4h8Lo+PocQXuW6eAXvxetMKHT62hxPxtIR/xQ8SaCmKRqBm+KL27UQuTiY+KfgbzIYT5F0Ai3OP8VLBWCx78RXydSUhFCfpoWMxIsSmpOV5NQjoV78KieYKsTSYqQWQskujMmqYBb7R0K/mVWlExJjIbBTgl32RQLhCfJWUNKWPBytmACU5CSj2F9MhCDjw/FND7SWQCjM4ui1yPP7q+IzeXh9uB0kqQ9bcvhL/O0EFt3FPQ/2QUnDn+K1/tfTgzolrJkiqTgMKlRrYBR+yT1QI9E6BDgIbHZZSU41H7j2Y20jVvwZYlqWLQqYEBqBo4rwEOgg8J+7qGWMgPbJRR5UWArPOEU2MwCec+ByyyzCLH6g/dscg6VMIU+NwYOH8WM8JjA5UIZFUJy4N1C4OgQQeO67lNJMt88UG+UXp5RkDExeLDlg8y8RgT/cE4DWAjzPR9ofacuaC9KnN5mCKy+XpFlaAAAAAElFTkSuQmCC);
}

/* .sprite-check {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: pink;
  opacity: 0.5;
} */

canvas {
  position: absolute;
}

.map-image {
  transition: 0.5s;
}

.sign {
  position: absolute;
  color: white;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

