
* {
  box-sizing: border-box;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(42, 14, 107);
  overscroll-behavior: contain;
}

.overflow-hidden {
  overflow: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-none {
  display: none;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.right {
  transform: scale(-1, 1);
}

.wrapper {
  position: fixed;
  /* border: 1px solid yellow; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.map-cover {
  /* border: 1px solid blue; */
  width: 800px;
  height: 400px;

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAADtJREFUWEft10ERADAMArBW9CzPRndTQR/BAFx+dAUz504H+8sAAgQIECBAgAABAgQIECCwQ+CvSD7kB6O0a0FtUcGvAAAAAElFTkSuQmCC);
  background-repeat: repeat;
  image-rendering: pixelated;
}

/* .npc-container {
  position: relative;
  overflow: hidden;
  --c: 32px;
  width: var(--c);
  height: var(--c);
  z-index: 1;
} */

.sprite-container {
  position: absolute;
  --c: 32px;
  width: var(--c);
  height: var(--c);
  z-index: 1;
}

.sprite  {
  /* border: 1px solid green; */
  position: absolute;
  width: calc(var(--c) * 7);
  height: var(--c);
  background-size: calc(var(--c) * 7) var(--c); 
  background-repeat: no-repeat;
  image-rendering: pixelated;
  /* transform-origin: center bottom; */
}

.bear {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHAAAAAQCAYAAADOFPsRAAAAAXNSR0IArs4c6QAAAZpJREFUWEftV9kSwyAIrP//0elo1SLhkrQeM/YpTbLhWFwgvM5v6wwE4P0FruN9+D8+wvcgNj7fHY+J7I1/Cr4h8Lo+PocQXuW6eAXvxetMKHT62hxPxtIR/xQ8SaCmKRqBm+KL27UQuTiY+KfgbzIYT5F0Ai3OP8VLBWCx78RXydSUhFCfpoWMxIsSmpOV5NQjoV78KieYKsTSYqQWQskujMmqYBb7R0K/mVWlExJjIbBTgl32RQLhCfJWUNKWPBytmACU5CSj2F9MhCDjw/FND7SWQCjM4ui1yPP7q+IzeXh9uB0kqQ9bcvhL/O0EFt3FPQ/2QUnDn+K1/tfTgzolrJkiqTgMKlRrYBR+yT1QI9E6BDgIbHZZSU41H7j2Y20jVvwZYlqWLQqYEBqBo4rwEOgg8J+7qGWMgPbJRR5UWArPOEU2MwCec+ByyyzCLH6g/dscg6VMIU+NwYOH8WM8JjA5UIZFUJy4N1C4OgQQeO67lNJMt88UG+UXp5RkDExeLDlg8y8RgT/cE4DWAjzPR9ofacuaC9KnN5mCKy+XpFlaAAAAAElFTkSuQmCC);
}

.bunny {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHAAAAAQCAYAAADOFPsRAAAAAXNSR0IArs4c6QAAAbdJREFUWEftWVtuwzAMi6+5/XY32E6x3WD9Xa+ZQQVUqIokSk2axEH7EyA1bdGU6EfaoH6fp7eRXv2cL03+5b0/Gp75SL5Z7t58PRM/Een79+8ax9fH+01ECsB6b4nXM16KJ3lkuGvx1sK/BNRZOAyDTtguBeQqpCcT0JUZVWCP+ENVoJGYE2tFAlp9SGveG57ikdVXjX8L/M1CPdtgEjTxkZUsifeSR8ZibbKkU0R9eEmEOETja/HkfOlYlhz/JaCY3cMIKDNNr4HeOmhZD2XaHHzFxpH1yb6iCrDirVTQ2vi7Xeg4jtczIPq11u5w3L53PPFAHKI1fAv8xEKRd9M6Y5HgCpiLR8lTcYBKBXNbZKNIwLXxu14D51pwBa8FRImoN1Fb4XdbgXrXi86ieg2s4rMV6DnAVnizApGNRRaKsFkLrArwDAE5VpQ8kjPaTFUsODN+eJXGgenzVfYcI4llrqMsEbK7WGqXwaMJ1P2wDTMXzzo9EdH52Up4vvzW82/FPtlNWjfn2ctsJk/PJb9mrDm+tEKLR8Zh9Dw88jVCJ4QXi3kciLIik4FZkpV2cyehMlZPbf8BqazoPk0l8uEAAAAASUVORK5CYII=);
}

/* .sprite-check {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: pink;
  opacity: 0.5;
} */

canvas {
  position: absolute;
}

.map-image-wrapper {
  transition: 0.5s;
  border: 1px solid red;
}




.control {
  position: fixed;
  bottom: 50px;
  right: 10px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  /* border: 1px solid hotpink; */
}


.control button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 0;
  transition: 0.2s;
  margin: 10px;
  cursor: pointer;
  font-size: 20px;
  color:rgb(89, 92, 114);
  /* background-color: white; */
  background-color: rgba(255, 255, 255, 0.7);
}

.control button:hover {
  color: #a2fcf0ba;
}


.touch-control {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 150px;
  height: 150px;
  background-color: #a2fcf0ba;
  border-radius: 50%;
  transition: 0.3s;
}



.touch-circle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  --size: 96px;
  width: var(--size);
  height: var(--size);
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAI1JREFUWEftV0EOwCAIW///aBYOJG6TJQIbmOBZSqlYEURER+JCE/AoAAB8ei4Ma7Akl/Yx41gC78k9JLoJW4FWoKYCfM8t/vD2pmmYj0QR9jojouFeCIwO94UCM8esRYAZph6BSJTahH9PZ+HXbbWAJtAK7KlAiaE0dSwfHTPtY7JqONr+PZswqnrGOQHGKseh+5Ps2AAAAABJRU5ErkJggg==);
  opacity: 0.7;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-size: var(--size); 
  transform: translate(27px, 27px);
  cursor: grab;
}



.sign {
  position: absolute;
  color: white;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

