
* {
  box-sizing: border-box;
  user-select: none;
}

:root {
  --light-green: #a2fcf0;
  --lemon-yellow: rgb(231, 255, 125);
  --black: #1a1a1a;
  --white: #f6f6f6;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--black);
  overscroll-behavior: contain;
}

.absolute {
  position: absolute;
}

.overflow-hidden {
  overflow: hidden;
}

.img-bg {
  image-rendering: pixelated;
  background-repeat: no-repeat !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-none {
  display: none;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.right:not(.npc) {
  transform: scale(-1, 1);
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.map-cover {
  background-repeat: repeat;
  image-rendering: pixelated;
}

div:has(.location-indicator) {
  top: 15px;
  left: 15px;
  position: absolute;
  opacity: 0.8;
  z-index: 6;
}

.mark {
  background-color: rgb(231, 255, 125);
  border-radius: 50%;
  position: absolute;
  transition: 0.5s;
  width: 4px;
  height: 4px;
}

.npc {
  transition: 1s;
}

.npc.right > div {
  transform: scale(-1, 1);
}

.sprite-container {
  position: absolute;
  --c: 32px;
  width: var(--c);
  height: var(--c);
  z-index: 1;
}

.sprite  {
  position: absolute;
  width: calc(var(--c) * 7);
  height: var(--c);
  background-size: calc(var(--c) * 7) var(--c); 
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.transition-cover {
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.2s;
  width: 100%;
  height: 100%;
  z-index: 7;
}

.transition-cover.transition {
  background-color: var(--black);
  transition: 0.3s;
}

.transition-cover > .artwork {
  position: absolute;
  top: 0;
  height: calc(100% - 160px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.artwork img {
  position: absolute;
  animation: display-artwork forwards ease 0.3s;
  width: auto;
  height: 100%;
  max-height: 600px;
  padding: 10px 0;
}

.transition-cover.intro {
  background-color: var(--black);
  transition: 0.3s;
}

.transition-cover:not(.intro) {
  pointer-events: none;
}

.transition-cover:not(.intro) * {
  opacity: 0;
  animation: none;
  pointer-events: none;
}

.bear {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHAAAAAQCAYAAADOFPsRAAAAAXNSR0IArs4c6QAAAZpJREFUWEftV9kSwyAIrP//0elo1SLhkrQeM/YpTbLhWFwgvM5v6wwE4P0FruN9+D8+wvcgNj7fHY+J7I1/Cr4h8Lo+PocQXuW6eAXvxetMKHT62hxPxtIR/xQ8SaCmKRqBm+KL27UQuTiY+KfgbzIYT5F0Ai3OP8VLBWCx78RXydSUhFCfpoWMxIsSmpOV5NQjoV78KieYKsTSYqQWQskujMmqYBb7R0K/mVWlExJjIbBTgl32RQLhCfJWUNKWPBytmACU5CSj2F9MhCDjw/FND7SWQCjM4ui1yPP7q+IzeXh9uB0kqQ9bcvhL/O0EFt3FPQ/2QUnDn+K1/tfTgzolrJkiqTgMKlRrYBR+yT1QI9E6BDgIbHZZSU41H7j2Y20jVvwZYlqWLQqYEBqBo4rwEOgg8J+7qGWMgPbJRR5UWArPOEU2MwCec+ByyyzCLH6g/dscg6VMIU+NwYOH8WM8JjA5UIZFUJy4N1C4OgQQeO67lNJMt88UG+UXp5RkDExeLDlg8y8RgT/cE4DWAjzPR9ofacuaC9KnN5mCKy+XpFlaAAAAAElFTkSuQmCC);
}

.bunny {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHAAAAAQCAYAAADOFPsRAAAAAXNSR0IArs4c6QAAAbdJREFUWEftWVtuwzAMi6+5/XY32E6x3WD9Xa+ZQQVUqIokSk2axEH7EyA1bdGU6EfaoH6fp7eRXv2cL03+5b0/Gp75SL5Z7t58PRM/Een79+8ax9fH+01ECsB6b4nXM16KJ3lkuGvx1sK/BNRZOAyDTtguBeQqpCcT0JUZVWCP+ENVoJGYE2tFAlp9SGveG57ikdVXjX8L/M1CPdtgEjTxkZUsifeSR8ZibbKkU0R9eEmEOETja/HkfOlYlhz/JaCY3cMIKDNNr4HeOmhZD2XaHHzFxpH1yb6iCrDirVTQ2vi7Xeg4jtczIPq11u5w3L53PPFAHKI1fAv8xEKRd9M6Y5HgCpiLR8lTcYBKBXNbZKNIwLXxu14D51pwBa8FRImoN1Fb4XdbgXrXi86ieg2s4rMV6DnAVnizApGNRRaKsFkLrArwDAE5VpQ8kjPaTFUsODN+eJXGgenzVfYcI4llrqMsEbK7WGqXwaMJ1P2wDTMXzzo9EdH52Up4vvzW82/FPtlNWjfn2ctsJk/PJb9mrDm+tEKLR8Zh9Dw88jVCJ4QXi3kciLIik4FZkpV2cyehMlZPbf8BqazoPk0l8uEAAAAASUVORK5CYII=);
}

canvas {
  position: absolute;
}

.map-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.player-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.map-image-wrapper.transition {
  transition: 0s;
}

.colour-btn {
  border: 0;
  padding: 5px 7px;
  background-color: var(--white);
  cursor: pointer;
}

.colour-btn:hover {
  background-color: var(--lemon-yellow);
}

.touch-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 6;
}

.control {
  position: fixed;
  bottom: 50px;
  right: 10px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  z-index: 6;
}

.control button {
  height: 60px;
  width: 60px;
  /* border-radius: 50%; */
  border: 0;
  transition: 0.2s;
  margin: 10px;
  cursor: pointer;
  font-size: 20px;
  color:rgb(89, 92, 114);
  /* background-color: white; */
  background-color: rgb(255, 255, 255);
}

.control button:hover {
  color: #a2fcf0ba;
}

button.disable {
  pointer-events: none;
}

.touch-control {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 150px;
  height: 150px;
  background-color: #a2fcf0ba;
  /* border-radius: 50%; */
  transition: 0.3s;
  z-index: 6;
  --c: 16px;
  clip-path: 
    polygon(
      0 var(--c),  var(--c) var(--c), var(--c) 0, calc(100% - var(--c)) 0,
      calc(100% - var(--c)) var(--c), 100% var(--c), 100% calc(100% - var(--c)), calc(100% - var(--c)) calc(100% - var(--c)),
      calc(100% - var(--c)) 100%, var(--c) 100%, var(--c) calc(100% - var(--c)), 0 calc(100% - var(--c))
    );
}

.touch-circle {
  position: absolute;
  top: 0;
  left: 0;
  /* border-radius: 50%; */
  --size: 96px;
  width: var(--size);
  height: var(--size);
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAI1JREFUWEftV0EOwCAIW///aBYOJG6TJQIbmOBZSqlYEURER+JCE/AoAAB8ei4Ma7Akl/Yx41gC78k9JLoJW4FWoKYCfM8t/vD2pmmYj0QR9jojouFeCIwO94UCM8esRYAZph6BSJTahH9PZ+HXbbWAJtAK7KlAiaE0dSwfHTPtY7JqONr+PZswqnrGOQHGKseh+5Ps2AAAAABJRU5ErkJggg==);
  /* opacity: 0.7; */
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-size: var(--size); 
  transform: translate(27px, 27px);
  cursor: grab;
  --c: 16px;
  clip-path: 
    polygon(
      0 var(--c),  var(--c) var(--c), var(--c) 0, calc(100% - var(--c)) 0,
      calc(100% - var(--c)) var(--c), 100% var(--c), 100% calc(100% - var(--c)), calc(100% - var(--c)) calc(100% - var(--c)),
      calc(100% - var(--c)) 100%, var(--c) 100%, var(--c) calc(100% - var(--c)), 0 calc(100% - var(--c))
    );
}

.deactivate {
  opacity: 0;
  pointer-events: none;
}

.sign {
  position: absolute;
  color: white;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.wrapper.hidden .player {
  display: none;
}

.intro-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro-box button {
  margin-top: 20px;
}

.transition-cover.intro .intro_box button {
  cursor: pointer;
  pointer-events: auto;
}

.start-button.hidden {
  opacity: 0;
  pointer-events: none;
}

/* ----  text display ------ */

.text {
  color: white;
  transition: 0.4s;
}

.face {
  position: absolute;
  width: 68px;
  height: 68px;
  border: 2px solid white;
  background-color: var(--light-green);
  top: -20px;
  left: 20px;
  overflow: hidden;
}

.text.name {
  position: absolute;
  top: 50px;
  width: 68px;
  text-align: center;
  color: #b69c8b;
  left: 20px;
}

.text-display {
  position: fixed;
  width: 100%;
  height: 180px;
  bottom: 0;
  transition: 0.4s;
  z-index: 5;
}

.text-display:not(.hidden) {
  background-color: var(--black);
}
/* 
.text-display.hidden .next {
  bottom: -100px;
} */

.text-display-container {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.choice {
  position: absolute;
  /* right: 100vh; */
  right: 0;
  bottom: 20px;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.next {
  position: absolute;
  bottom: 40px;
  right: 15px;
  border: 0px;
  padding: 10px;
  font-size: 16px;
  color: var(-black);
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
}

.next:hover {
  color: white;
  background-color: #a2fcf0ba;
}

/* .text_display.hidden .next {
  bottom: -100px;
} */

/** big window */
.dialog-box {
  width: 100%;
  height: 100%;
  padding: 24px 30px 0;
}

.dialog-box.face-displayed {
  padding: 24px 30px 0 110px;
}

/** multiple choice selection */
.choice {
  position: absolute;
  /* right: 100vh; */
  right: 24px;
  bottom: 20px;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.face {
  z-index: 5;
}

.sprite-face {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* .choice:empty {
  right: 100vh;
  animation: none;
} */

/* .name:empty,
.face:empty {
  left: -100vh;
  animation: none;
} */

.option {
  color: white;
  background-color: transparent;
  border: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
}

.option.selected {
  color: #3e3530;
  background-color: white;
}

.event-cover,
.event-cover::after {
  position: fixed;
  width: 100%;
  height: 190px;
  transition: 0.3s;
  pointer-events: none;
  background-color: var(--black);
  z-index: 5;
}

.event-cover {
  top: 0px;
}

.event-cover::after {
  content: '';
  bottom: 0;
}
/* 
.event-cover.hidden::after {
  bottom: -200px;
}
.event-cover.hidden {
  opacity: 0;
  top: -200px;
} */
