
* {
  box-sizing: border-box;
}

:root {
  --navy: '#031f5C';
  --dark-navy: rgb(3, 31, 92);
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(67, 65, 88);
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.no_wall_show {
  filter: invert();
}

.no_wall_show::before {
  background-color: rgba(138, 168, 2, 0.486);
  position: absolute;
  top: 0px;
  left: 0px;
  color: black;
  content: attr(letter_code);
}

.inner_map {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.map_tile {
  font-size: 10px;
  color: transparent;
  cursor: pointer;
}

.map_cover {
  height: 400px;
  width: 800px;
}

.sprite_container {
  position: relative;
  overflow: hidden;
}

.right {
  transform: scale(-1, 1);
}

.sprite  {
  position: absolute;
  height: 32px;
  width: 224px;
  transform-origin: center bottom;
  animation: squish infinite 1s;
}

.sign {
  position: absolute;
  color: white;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.instruction {
  width: 100%;
  max-width: 800px;
  margin: 10px 0 0 0;
  font-size: 15px;
  color: white;
  opacity: 1;
  transition: 1s;
}

.map_container {
  height: 400px;
  width: 800px;
  overflow: hidden;
  background-color: transparent;
}

.map_image {
  position: relative;
  height: 800px;
  width: 1600px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  transition: 0.5s;
}

.map_image.transition {
  transition: 0s;
}

.map_image_tile {
  font-size: 10px;
  color: transparent;
  cursor: pointer;
}

.wall { background-color: #a2fcf0; }

.map_image_tile.v { background-color: transparent; }

.indicator {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: white;
  pointer-events: none;
}

.location_indicator {
  position: absolute;
  height: 160px;
  width: 320px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.location_indicator_tile {
  width: 8px;
  height: 8px;
  font-size: 4px;
  color: transparent;
}

.mark {
  background-color: rgb(231, 255, 125);
  border-radius: 50%;
}

.button {
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: flex;
}

.button button {
  border-radius: 40px;
  border: 0px;
  background: white;
  color: black;
  cursor: pointer;
  padding: 5px 8px;
  margin: 5px;
}

.button button:hover {
  background: black;
  color: white;
}

.stage,
.transition_cover {
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.2s;
}

.transition_cover > div {
  width: 300px;
  height: auto;
}

.transition_cover img {
  width: 100%;
  height: auto;
}

.transition_cover.transition {
  background-color: rgb(4, 4, 59);
  transition: 0.3s;
}

.spawn_container {
  position: absolute;
  overflow: hidden;
  transition: 1s;
}

.face {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 2px solid white;
  background-color: #a2fcf0;
  top: -20px;
  left: 20px;
  overflow: hidden;
}

/** multiple choice selection */
.text {
  color: white;
  transition: 0.4s;
}

.text_display {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
}

.next {
  position: fixed;
  bottom: 40px;
  right: 20px;
  border: 0px;
  padding: 10px;
  font-size: 16px;
  color: var(--navy);
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
  /* animation: slide-in-from-bottom forwards ease 0.5s; */
}

.next:hover {
  color: white;
  background-color: var(--dark-navy);
}

.text_display.hidden .next {
  /* pointer-events: none;
  animation: none;
  opacity: 0; */
  bottom: -100px;
}

.next.hide {
  opacity: 0;
  pointer-events: none;
}

/** big window */
.dialog_box {
  width: 100%;
  height: 100%;
  padding: 20px 20px 0 110px;
  background-color: rgba(3, 31, 92, 0.753);
}

/** multiple choice selection */
.choice {
  position: absolute;
  right: 100vh;
  top: -20px;
  background-color: rgb(3, 31, 92);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  animation: slide-in-from-right forwards ease 0.5s;
}

.face {
  animation: slide-in-from-left forwards ease 0.5s;
}

.choice:empty {
  right: 100vh;
  animation: none;
}

.face:empty {
  left: -100vh;
  animation: none;
}

.option {
  color: white;
  background-color: transparent;
  border: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
}

.option.selected {
  color:rgb(3, 31, 92);
  background-color: rgb(255, 255, 255);
}

.control {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.control > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.control button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 0;
  transition: 0.2s;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  color:rgb(89, 92, 114);
  background-color: white;
}

.control button:hover {
  color: rgb(148, 253, 116);
}

.control :nth-child(4) {
  margin: 10px 10px 10px 30px;
}

.toggle_wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 36px;
  display: flex;
  align-items: center;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 36px;
  margin: 0 0 0 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: white 1px solid;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(148, 253, 116);
  border: rgb(148, 253, 116) 1px solid;
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.map_image_tile {
  background-repeat: no-repeat, repeat;
  background-size: cover; 
  background-color: #a2fcf0;
}

.svg_wrap {
  transform-origin: center;
}

.svg_output {
  margin: 100px 0 0 0;
}

.anim_wrapper { 
  overflow: hidden;
}

.test_button {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 100px;
  height: 30px;
  background-color: white;
  cursor: pointer;
}

.test_button:hover {
  background-color: black;
  color: white;
}

.stage,
.transition_cover,
.svg_wrap,
.svg_anim,
.sprite_face,
.anim_wrapper {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.map_image_tile,
.map_tile,
.no_wall_show::before,
.sprite_container,
.spawn_container,
.spawn {
  width: 32px;
  height: 32px;
}

.control.hide,
.text_display.hidden .text,
.map_cover {
  pointer-events: none;
}

.wrapper,
.no_wall_show::before,
.map_tile,
.map_image_tile,
.test_button,
.stage,
.transition_cover,
.location_indicator_tile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map_image.transition,
.text_display.hidden .text,
.control.hide,
.instruction.hide {
  opacity: 0;
}

.face { z-index: 999; }
.text_display { z-index: 999; }
.control { z-index: 99999; }
.toggle_wrapper { z-index: 99999; }
.test_button { z-index: 999; }
.no_wall_show::before { z-index: 999; }
.map_cover { z-index: 1; }
.button { z-index: 999; }
.stage { z-index: 998; }
.transition_cover { z-index: 999; }
.cover { z-index: 3; }
.wrapper.overlap { z-index: -9; }
.indicator { z-index: 999999; }


/* keyframes */

@keyframes squish {
  0% {transform: scale(1);}
  50% {transform: scale(1,0.93);}
  100% {transform: scale(1);}
}

@keyframes blink {
  0% {opacity: 0;}
  49% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 1;}
}

@keyframes slide-in-from-left {
  0% { left: -100vh; }
  95% { left: 30px; }
  100% { left: 20px; }
}

@keyframes slide-in-from-right {
  0% { right: -100vh; }
  95% { right: 60px; }
  100% { right: 50px; }
}

@keyframes slide-in-from-bottom {
  0% { bottom: -100px; }
  95% { bottom: 50px; }
  100% { bottom: 40px; }
}